.sidenav {
    width: 300px;
    background-color: white;
    box-shadow: 2px 0px 1px 1px #f4f5fa;
    height: 100vh ;
    
}

.sidenav__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px ;
}

.sidenav__logo > img {
    width: 60%;
    
}

.sidenav__search {
    margin: 20px;
    padding: 10px;
}

.sidenav__search > input {
    width: 100%;
    padding: 10px;
    border: 1px solid #f4f5fa;
    border-radius: 5px; 
    outline-width: 0;
}

.sidenav__search > i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.sidenav a {
    text-decoration: none;
    color: #000; 
    display: block;
    padding: 10px 20px; 
    transition: background-color 0.2s ease; 
}

.sidenav a:hover {
    background-color: #f4f5fa; 
}

.sidenav__link li {
    padding: 10px 15px;
}

.sidenav hr {
    margin: 10px 0;
    border: 1px solid #f4f5fa;
}